container_commands:
    01_make_migrations:
        command: "python manage.py makemigrations"
    02_migrate:
        command: "python manage.py migrate"
    03_create_super_user:
        command: "python manage.py createsu"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: kyubs_blog/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "/static/"